/* WEWEB COLORS */

$ww-blue: #2E85C2;
$ww-blue-strong: #1763A9;

$ww-green: #49B9B3;
$ww-green-strong: #19947C;

$ww-yellow: #FDC806;
$ww-yellow-strong: #DC9E04;

$ww-orange: #EF811A;
$ww-orange-strong: #EA5E1C;

$ww-red: #E02A4D;
$ww-red-strong: #CE003B;

$ww-pink: #EA588D;
$ww-pink-strong: #CF2D7D;

$ww-grey: #5E5E5E;
$ww-grey-strong: #636363;
$ww-grey-light: #a7a7a7;
$ww-grey-super-light: #dedede;

/* GRADIENT */
$ww-green-gradient: linear-gradient(to right, #1d977f, #20a28c, #24ad9a, #28b8a8, #2cc3b7); //in background-image


/* TEXT COLORS */
$txt-grey-light: #a7a7a7;
$txt-grey: #5E5E5E;
$txt-grey-strong: #636363;

/* BACKGROUND COLORS */
$background-grey-light: #fafafa;